
/* Hide php tag in code block */
#main > pre::after {
  display: none;
} 

#main > pre, #main > pre > code {
  background-color: #2e2e2e; 
}

#main > pre > code {
  color: white;
}

.sidebar, .sidebar-toggle {
  background-color: #3f3f3f;
}

	
.markdown-section th {
  background-color: #2E2E2E;
  color: #d6d6d6;
}

.markdown-section tr:nth-child(even) {
  background-color: #2E2E2E;
  color: #657b83;
}

.markdown-section tr:nth-child(odd) {
  background-color:#657b83;
  color: #282828;
}

.anchor:hover {
  text-decoration: none;
  color: #e87d3e; 
  background-color: #e87d3e; 
}